<form [formGroup]="raportControl" class="example-form">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Stwórz raport</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div formGroupName="brigade">
        <div class="row">
          <mat-form-field class="full-width">
            <mat-label>Data</mat-label>
            <input matInput formControlName="date" [matDatepicker]="picker">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Zmiana</mat-label>
            <input matInput formControlName="shift">
          </mat-form-field>
        </div>
        <div class="row">
          <div formArrayName="leadersId" class="full-width">

            <div *ngFor="let leader of leadersId.controls; let i=index">
              <mat-form-field class="full-width">
                <mat-label>Brygadzista {{i+1}}</mat-label>
                <input matInput [formControlName]="i">
              </mat-form-field>
            </div>
          </div>

          <div formArrayName="forkliftOperatorsId" class="full-width">
            <div *ngFor="let operator of forkliftOperatorsId.controls; let i=index">
              <mat-form-field class="full-width">
                <mat-label>Operator {{i+1}}</mat-label>
                <input matInput [formControlName]="i">
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Skład brygady</mat-card-title>
            </mat-card-header>
          <mat-card-content>
            <div formArrayName="brigadeEmployeesId" class="flex flex-col">
              <div *ngFor="let brigade of brigadeEmployeesId.controls; let i=index" class="flex flex-row items-stretch gap-x-4">
                <mat-form-field class="input-width">
                  <mat-label>Pracownik {{i+1}}</mat-label>
                  <input matInput [formControlName]="i">
                </mat-form-field>
                <div class="align-button-with-input button-width">
                  <button mat-flat-button color="primary" class="full-width" (click)="deleteBrigadeEmployee(i)">Usuń pracownika</button>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button color="accent" mat-flat-button type="button" (click)="addBrigadeEmployee()">Dodaj członka brygady</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <br>
      <br>
      <div formGroupName="workDone" class="full-width flex">
        <div formGroupName="refrigerator" class="w-1/3 p-2">
          <h3>Lodówki</h3>
          <mat-form-field class="w-1/2">
            <mat-label>Przerobione</mat-label>
            <input matInput formControlName="reworked">
          </mat-form-field>
          <mat-form-field class="w-1/2">
            <mat-label>Odrzucone</mat-label>
            <input matInput formControlName="rejected" >
          </mat-form-field>
        </div>
        <div formGroupName="robot" class="w-1/3 p-2 flex flex-col">
          <h3 class="full-width">Praca z robotem</h3>
          <div class="flex flex-row items-center">
            <mat-form-field class="w-3/5">
              <mat-label>Liczba godzin</mat-label>
              <input matInput formControlName="workHours" >
            </mat-form-field>
            <div class="w-2/5">
              <mat-label [ngClass]="'labelBeforeSlide'">Nie</mat-label>
              <mat-slide-toggle formControlName="workWith" (click)="switchRobotDisabled()">Tak</mat-slide-toggle>
            </div>
          </div>
        </div>

        <div formGroupName="atn" class="w-1/3 p-2 flex flex-col">
          <h3 class="full-width">Praca z atn</h3>
          <div class="flex flex-row items-center">
            <mat-form-field >
              <mat-label>Liczba godzin</mat-label>
              <input matInput formControlName="workHours" >
            </mat-form-field>
            <div>
              <mat-label [ngClass]="'labelBeforeSlide'">Nie</mat-label>
              <mat-slide-toggle formControlName="workWith" (click)="switchAtnDisabled()">Tak</mat-slide-toggle>
            </div>
          </div>
        </div>
      </div>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Historia zmian</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div formArrayName="reportHistories">
            <div *ngFor="let history of reportHistories.controls; let i=index">
              <div [formGroupName]="i" class="flex flex-row gap-4">
                <mat-form-field class="w-1/5">
                  <mat-label>Historia {{i+1}}</mat-label>
                  <input type="time" matInput formControlName="time">
                </mat-form-field>
                <mat-form-field class="grow">
                  <mat-label>Historia {{i+1}}</mat-label>
                  <input matInput formControlName="message">
                </mat-form-field>
                <div class="align-button-with-input button-width">
                  <button mat-flat-button color="primary" class="full-width" (click)="deleteReportHistory(i)" mat-button>Usuń</button>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="accent" type="button" (click)="addReportHistory()">Dodaj historię zmiany</button>
        </mat-card-actions>
      </mat-card>

    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      Costam costam druga strona
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

</form>
<br/>

<button (click)="showFormData()">Show data in form</button>
<!--<p>{{raportControl.value}}</p>-->
<app-manufacturing-form/>

